@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.125);
}

/* left-side */

.container {
  position: relative;
  width: 800px;
  height: 600px;
  background: #fff;
  display: flex;
  border-radius: 30px;
  cursor: pointer;
}

.container .left-side {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background: -webkit-radial-gradient(
    top center,
    rgb(66, 43, 182) 0px,
    rgb(45, 48, 141)
  );
}

.container .round-section {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background: -webkit-radial-gradient(
    top center,
    rgb(45, 48, 141) 50px,
    rgb(66, 43, 182)
  );
}

.container .left-side .first-p {
  margin-bottom: 70px;
  color: rgb(160, 150, 160);
  font-size: 20px;
}

.container .left-side .h1tag {
  color: #fff;
  font-size: 80px;
  margin-top: 20%;
  margin-left: 30%;
  font-weight: 4000;
}

.container h4 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 50px;
  margin: 10%;
}

.container .second-p {
  color: rgb(160, 150, 160);
  margin-left: 40%;
}

.container .main-p {
  color: rgb(160, 150, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}

/* right-side */

.right-side .icons1 {
  color: red;
  margin-left: -30px;
}

.right-side .sums .p1 .p1-v {
  background: rgb(248, 216, 216);
}

.right-side .p1 .p1-v .p-name {
  color: red;
  padding-left: 20px;
}

.right-side .p1 .p1-v {
  font-size: 15px;
  padding: 20px 50px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.right-side .p1 .p1-p {
  padding-left: 56%;
  color: #000;
}
.right-side .sums .p2 .p1-v {
  background: rgb(230, 230, 193);
}

.right-side .icons2 {
  color: yellow;
  margin-left: -30px;
}

.right-side .p2 .p1-v .p-name {
  color: yellow;
  padding-left: 20px;
}

.right-side .p2 .p1-v {
  font-size: 15px;
  padding: 20px 50px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.right-side .p2 .p1-p {
  padding-left: 58%;
  color: #000;
}

.right-side .sums .p3 .p1-v {
  background: rgb(219, 235, 213);
}

.right-side .icons3 {
  color: green;
  margin-left: -30px;
}

.right-side .p3 .p1-v .p-name {
  color: green;
  padding-left: 20px;
}

.right-side .p3 .p1-v {
  font-size: 15px;
  padding: 20px 50px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  align-items: center;
  display: flex;
}

.right-side .p3 .p1-p {
  padding-left: 65%;
  color: #000;
}

.right-side .p1-pp {
  color: rgb(160, 150, 160);
}

.right-side .sums .p4 .p1-v {
  background: rgb(196, 202, 242);
}

.right-side .icons4 {
  color: blue;
  margin-left: -30px;
}

.right-side .p4 .p1-v .p-name {
  color: blue;
  padding-left: 20px;
}

.right-side .p4 .p1-v {
  font-size: 15px;
  padding: 20px 50px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  width: 300px;
  height: 50px;
  background: rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.right-side .p4 .p1-p {
  padding-left: 65%;
  color: #000;
}

.right-side .rsp {
  font-size: 25px;
  font-weight: 500;
  margin-left: 50px;
  margin-top: 30px;
}

.right-side .btn {
  cursor: pointer;
  border: 0;
  width: 300px;
  height: 60px;
  font-size: 17px;
  color: #fff;
  background: rgb(0, 40, 56);
  padding: 20px 30px;
  align-items: center;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  margin-top: 30px;
  margin-left: 50px;
}
